/* Dracula Colors */
/*-------------------------------
@define-color background #282a36;
@define-color highlight  #44475a;
@define-color foreground #f8f8f2;
@define-color comment    #6272a4;
@define-color cyan       #8be9fd;
@define-color green      #50fa7b;
@define-color orange     #ffb86c;
@define-color pink       #ff79c6;
@define-color purple     #bd93f9;
@define-color red        #ff5555;
@define-color yellow     #f1fa8c;
-------------------------------*/

/* Tokyo Night Storm */
/*-------------------------------
@define-color background #24283b;
@define-color highlight  #414868;
@define-color foreground #a9b1d6;
@define-color comment    #565f89;
@define-color cyan       #7dcfff;
@define-color green      #73daca;
@define-color orange     #ff9e64;
@define-color pink       #bb9af7;
@define-color blue       #7aa2f7;
@define-color red        #f7768e;
@define-color yellow     #e0af68;
-------------------------------*/

/* Catppuccin */
@define-color background #1E1D2F;
@define-color highlight  #575268;
@define-color foreground #D9E0EE;
@define-color comment    #988BA2;
@define-color cyan       #89DCEB;
@define-color green      #ABE9B3;
@define-color orange     #F8BD96;
@define-color pink       #F5C2E7;
@define-color blue       #96CDFB;
@define-color red        #F28FAD;
@define-color yellow     #FAE3B0;

* {
  border: none;
  border-radius: 0;
  font-family: "Homespun TT BRK", "FontAwesome";
  font-size: 20px;
  min-height: 0;
}

window#waybar {
  background: @background;
  border-bottom: 3px solid @orange;
  color: @yellow;
}

@keyframes blink {
  to {
    background-color: @foreground;
    color: @foreground;
  }
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio {
  margin: 0 10px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.good {
  color: @yellow;
}

#battery.warning {
  color: @orange;
}

#battery.critical {
  color: @pink;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  padding: 0 10px;
  border-bottom: 3px solid @highlight; /* Same as window#waybar for consistency */
  background: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  color: @yellow;
}

#clock {
  color: @pink;
}

#cpu {
  color: @red;
}

#memory {
  color: @cyan;
}

#network {
  color: @blue;
}

#pulseaudio {
  color: @cyan;
}

#temperature {
  color: @orange;
}

#idle_inhibitor {
  color: @red;
}

#temperature.critical {
  color: @red;
}

#workspaces button {
  background: transparent;
  color: @comment;
  border-bottom: 3px solid transparent;
}

/* #workspaces button.active { For hyprland */
#workspaces button.focused {
  background: @highlight;
  border-bottom: 2px solid white;
  color: @orange;
}
